body {
  background-color: black;
}

#image {
  max-width: 100%;
  height: 100%;
  object-fit: cover;

  /* display: block; */
  /* This ruins the scaling/cropping provided by object-fit. I wouldn't use this for what I made. */
}

#img-caption {
  position: absolute;
  top: 10%;
  left: 5%;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 3em;
}

#tribute-info {
  position: absolute;
  top: 35%;
  left: 5%;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.5em;
}
.preloader {
  align-items: center;
  background: rgb(23, 22, 22);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s linear;
  width: 100%;
  z-index: 9999;
}
